body {
    margin: 0;
    padding: 0;
    font-size: 10vw;
    background-color: yellow;
}
main {
    text-align: center;
    color: #3264AF;
    text-decoration: none;
    text-transform: capitalize;
}
li {
    list-style-type: none;
    
}
a {
    text-decoration: none;
}